body 
{
background:  url("img/Back.jpg") no-repeat fixed center;
height: 2000px;
font-family: Arial, Helvetica, sans-serif;
font-size:17px;
line-height:1.6;
color: #666666;
}



        ul#navigation {
        	list-style-type: none;
        	background: rgb(132, 136, 135);
        	height: 93px;
        	font-size: 24px;
        }
        ul#navigation li {
        	float: left;
        	width: 155px;
        	text-align: center;
        	position: relative;
        	height: 63px;
        	padding: 20px 5px 10px 5px;
        }
        ul#navigation li a {
        	color: white;
        	text-decoration: none;
        	display: block;
        }
        ul#navigation li a.active {
        	border: 1px solid blue;
        }
        ul#navigation li ul.subnav {
        	background: #00C081;
        	width: 175px;
        	clear: both;
        	display: none;
        	position: absolute;
        	top: 63px;
        	border-left: 2px solid white;
        	border-right: 2px solid white;
        	border-bottom: 2px solid white;
        	opacity: 0;
            list-style-type: none;
            padding: 0;
        }
        ul#navigation li ul.subnav li {
        	clear: both;
        	height: 40px;
        	padding: 0;
        	text-align: center;
        	margin: 0px;
        }
        ul#navigation li ul.subnav li a {
        	background: none;
        	font-size: 18px;
        	color: white;
        	text-decoration: none;
        	padding: 10px 0;
        	border: none;
        }
        ul#navigation li ul.subnav li a:hover {
        	background: #00C081;
        	font-size: 18px;
        	color: #333;
        	border: none;
        }


#nawigacja {
 margin: 5px 0 0 0;
 text-align: center;
 z-index: 10;
}
 
#nawigacja a {
 display: inline-block; 
 text-decoration: none;
 background: #72004A;
 border-radius: 50%; 
 padding: 2px 6px;
 color: #FFFFFF;
 -webkit-transition: all linear .1s;
 -moz-transition: all linear .1s;
 -o-transition: all linear .1s;
 transition: all linear .1s;
}
 
#nawigacja a:hover {
 background: #D258A7;
}



      #back-to-top 
{
            position: fixed;
            right: 50px;
            bottom: 50px;
            padding: 20px;
            background-color: #666666;
            color: white;
            display: none;
            font-weight: bold;
            text-decoration: rgb(169, 169, 206);
}
.activ
#carouselExampleControls
.carousel-inner
{
    float: auto;
}

.d-block w-100
{float: left;
}
#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;    
}
.rectangle
{
    width: 1000px;
    margin:20px;
    text-align: center;
}
#logo
{
    float:left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 100px;
    text-align: left;
    margin: 20px;
}
#zegar
{
    float:left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    text-align: right;
    margin-left: 550px;
}
.main
{
    margin: 10px;
    width: 980px;
    height: 200px;
    background-color: rgb(145, 145, 180);
}
.square
{
    width: 100%;
    float: left;
}


.blog
{
    width: 100;
    float: left;
}
.tile5
{
    margin: 10px;
    width: 480px;
    height: 304px;
    background-color: #303030;
    float: left;
}
.tile6
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #303030;
    float: left;
}
.spolecznosciowe
{
    margin-left: 500px;
}
.yt
{
    margin-left: 480px;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d94348;
    float: left;
    color: white;
}
.fb
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4668b3;
    float: left;
    color: white;
}.gplus
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d95333;
    float: left;
    color: white;
}
.tw
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    color: white;
}

#tekstNadSliderem
{
    text-align: center;
    color: black;
}

#tekstPodSliderem
{
    text-align: center;
    color: black;
}

/* sekcja galeria*/

.button{
  background:rgb(148, 148, 167);
  padding:1em 2em;
  color:#fff;
  border:0;
}

.button:hover{
  background:#333;
}

.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}


.modal-content{
  background-color:#f4f4f4;
  margin: auto;
  width:65%; /* moge ustawic na 400px - zawasze na stala wielkosc*/
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}

.modal-header h2, .modal-footer h3{ /* footer margin set to 0 */
  margin:0;
}

.modal-header{
  background:rgb(150, 150, 161);
  padding:5px;
  color:#fff;
}

.modal-body{
  padding:10px 20px;
}

.modal-footer{
  background:rgb(160, 160, 179);
  padding:5px;
  color:#fff;
  text-align: center;
}

.closeBtn{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

.closeBtn:hover,.closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

@keyframes modalopen{/* powolne pojawienie sie zdjecia*/
  from{ opacity: 0}
  to {opacity: 1}
}

/* Slider Section  */
#slider {
  width: 720px;
  height: 400px;
  overflow: hidden;
  float: center;
}

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}
